<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>

    <body>
        <div class="container">
            <h2 class="ordertitle">注文詳細</h2>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <table>
                        <tr>
                            <th><%= "購入者" %></th>
                            <td><%= link_to @order.customer.first_name + @order.customer.last_name ,
                                admin_customer_path(@order.customer_id) %></td>
                        </tr>
                        <tr>
                            <th><%= "配送先" %></th>
                            <td><%= @order.address %></td>
                        </tr>
                        <tr>
                            <th><%= "宛名" %></th>
                            <td><%= @order.full_name %></td>
                        </tr>
                        <tr>
                            <th><%= "支払い方法" %></th>
                            <td>
                                <% if @order.pay_method %>
                                    <%= "銀行振込" %>
                                <% else %>
                                    <%= "クレジットカード" %>
                                <% end %>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <%= form_for (@order), url:admin_order_path do |f| %>
                                <%= f.select :order_status, Order.order_statuses.keys.map {|k|
                                [I18n.t("enums.order.order_status.#{k}"), k]}%></th>
                            <td><%= f.submit '更新'%></td>
                        <% end %>
                    </tr>
                </table>
                <div class="count">
                    <table>
                        <tr>
                            <td>領収書</td>
                        </tr>
                        <tr>
                        <th><%= "商品合計" %>
                        </th>
                            <td><%=@total_price.to_s + "円" %></td>
                        </tr>
                        <tr>
                        <th><%= "送料" %></th>
                            <td><%="800円" %></td>
                        </tr>
                        <tr>
                        <th><%= "請求金額合計" %></th>
                            <td><%= (@total_price + 800).to_s + "円" %></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-md-offset-1">
            <table class="table table-fover">
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th>制作ステータス</th>
                </tr>
                <% @order_items.each do |order_item| %>
                    <tr>
                        <td><%= order_item.item.name%></td>
                        <td><%= order_item.price.to_s + "円" %></td>
                        <td><%= order_item.count .to_s + "個" %></td>
                        <td><%= (order_item.count * order_item.price).to_s + "円"%></td>
                        <td><p style="width:12px"><%= form_for (order_item),
                            url:admin_order_update_path([order_item],order_item_id:order_item.id) do |f| %>
                            <%= f.select :create_status, OrderItem.create_statuses.keys.map {|k|
                            [I18n.t("enums.order_item.create_status.#{k}"), k]}%>
                            <%= f.submit '更新'%></p>
                        <% end %>
                    </td>
                </tr>
            <% end %>
        </table>
    </div>
</div>
</body>

</html>