<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  </head>
  <body>
    <h3>注文詳細画面</h3>
    <%= "購入者：" %>
    <%= @order.customer.first_name + @order.customer.last_name %><br>
    <%= "配送先：" %>
    <%= @order.address %><br>
    <%= "宛名：" %>
    <%= @order.full_name %><br>
    <%= "支払い方法：" %>
    <% if @order.pay_method %>
      <%= "銀行振込" %>
    <% else %>
      <%= "クレジットカード" %>
    <% end %>
    <br>

      <table class = "table table-fover">
        <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
        </tr>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.item.name%></td>
            <td><%= order.price%></td>
            <td><%= order.count%></td>
            <td><%= order.count * order.price%></td>
            <td><%= order.create_status%></td>
          </tr>
        <% end %>
      </table>
  </body>
</html>