<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <h3>注文詳細画面</h3>
  <%= "購入者：" %>
  <%= link_to @order.customer.first_name + @order.customer.last_name , admin_customer_path(@order.customer_id) %><br>
  <%= "配送先：" %>
  <%= @order.address %><br>
  <%= "宛名：" %>
  <%= @order.full_name %><br>
  <%= "支払い方法：" %>
  <% if @order.pay_method %>
  <%= "銀行振込" %>
  <% else %>
  <%= "クレジットカード" %>
  <% end %>
  <br>
  <%= form_for (@order), url:admin_order_path do |f| %>
  <%= f.select :order_status, Order.order_statuses.keys.map {|k| [I18n.t("enums.order.order_status.#{k}"), k]}%>
  <%= f.submit '更新'%>
  <% end %>

  <table class="table table-fover">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name%></td>
      <td><%= order_item.price.to_s + "円" %></td>
      <td><%= order_item.count .to_s + "個" %></td>
      <td><%= (order_item.count * order_item.price).to_s + "円"%></td>
      <td><%= form_for (order_item), url:admin_order_update_path([order_item] ,order_item_id:order_item.id) do |f| %>
        <%= f.select :create_status, OrderItem.create_statuses.keys.map {|k| [I18n.t("enums.order_item.create_status.#{k}"), k]}%>
        <%= f.submit '更新'%>
        <% end %>
      </td>
    </tr>
    <% end %>
  </table>
</body>

</html>