<!DOCTYPE html>
<html>
  <head>
    <title>Mr2Cakeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<header>
  <div class="container-fluid" style="height: 70px; background-color: pink;">
    <div class="row" style="height: 70px;">
        <div class="col-sm-3" style="text-align: left; color: white; padding: auto;">
        <h1>ながのCAKE</h1>
        </div>
        <div class="col-sm-9" style="text-align: right; color: white;">
        <nav>
          <% if customer_signed_in? %>
            <h3>
            <%= link_to "ホーム", root_path %>

            <%= link_to "ながのCAKEとは??", homes_about_path %>

            <%= link_to "マイページ", customer_path(current_customer) %>

            <%= link_to "カート", cart_items_path %>

            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </h3>
            <% else %>
            <h3>
            <%= link_to "ホーム", root_path %>

            <%= link_to "ながのCAKEとは??", homes_about_path %>

            <%= link_to "新規登録", new_customer_registration_path %>

            <%= link_to "ログイン", new_customer_session_path %>
            </h3>
          <% end %>
        </nav>
    </div>
  </div>
</header>
<body>
  <div class="container">
    <div class="row">
      <%= yield %>
    </div>
</body>
  </div>
<footer>
  <div class="col-lg-12" style="background-color: pink; text-align: right; color: white; height: 70px; font-size: 30px; line-height: 70px">
  Welcome To ながのCAKE!!
  </div>
</footer>
</html>