<!DOCTYPE html>
<html>  
  <head>
    <title>Mr2Cakeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class="container-fluid" style="height: 70px; background-color: yellow;">
    <div class="row" style="height: 70px;">
      <div class="col-md-3" style="text-align: left;">
        <h1 style = "color: red; font_size: 30px; padding: auto;">CAKE SHOP</h1>
      </div>
        <nav class="col-md-9" style = "text-align: right;">
          <% if customer_signed_in? %>
            <p>いらっしゃいませ
            <%= current_customer.last_name + " " %>
            <%= current_customer.first_name " " %>
            様</p>
            <h3>
            <%= link_to "TOP", root_path %>

            <%= link_to "ABOUT", homes_about_path %>

            <%= link_to "MyPage", customer_path(current_customer) %>

            <%= link_to "カート", cart_items_path %>

            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
            </h3>
            <% else %>
            <h3>
            <%= link_to "トップページ", root_path %>

            <%= link_to "ながのCAKEとは??", homes_about_path %>

            <%= link_to "新規登録", new_customer_registration_path %>

            <%= link_to "ログイン", new_customer_session_path %>
            </h3>
          <% end %>
        </nav>
    </div>
  </div>
</header>
<body>
  <div class="container-fluid">
    <div class="row">
      <select name="area" style = "font-size: 20px">
      <option value="none">ジャンル検索</option>
      <% @categories.each do |category| %>
        <option><%= category.sweets_name %></option>
    <% end %>
      </select>
    </div>
  </div>
  </body>
    <div class = "row">
        <%= yield %>
    </div>

  <div class = "container-fluid" style = "background-color: yellow; text-align: right; color: red; height: 70px; font-size: 30px; line-height: 70px;">
  訪問して下さりありがとうございます!!
  </div>
</html>