<!DOCTYPE html>
<html>
  <head>
    <title>Mr2Cakeshop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<header>
  <div class="container-fluid" style="height: 80px; background-color: salmon;">
    <div class="row">
      <div class="col-md-3" style="text-align: left;">
        <h1 style = "color: white; font_size: 30px; padding: auto;">ながのCAKE</h1>
      </div>
      <div class="col-md-2" style="padding-top: 10px;">
        <div class="searchwindow navbar-right">
          <%= form_with(url: customer_search_path, method: :get, local: true) do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search' %>
        </div>
        <% end %>
      </div>
        <nav class="col-sm-7" style = "text-align: right; color: white;">
          <% if customer_signed_in? %>
            <h5>ようこそ
            <%= current_customer.last_name %>
            <%= current_customer.first_name %>
            様</h5>
            <h3>
            <%= link_to "ホーム", root_path, :class => "link" %>

            <%= link_to "ながのCAKEとは??", homes_about_path,  :class => "link" %>

            <%= link_to "マイページ", customer_path(current_customer), :class => "link" %>

            <%= link_to "カート", cart_items_path, :class => "link" %>

            <%= link_to "ログアウト", destroy_customer_session_path, method: :delete,  :class => "link" %>
            </h3>
            <% else %>
            <h3>
            <%= link_to "ホーム", root_path,  :class => "link" %>

            <%= link_to "ながのCAKEとは??", homes_about_path,:class => "link" %>

            <%= link_to "新規登録", new_customer_registration_path, :class => "link" %>

            <%= link_to "ログイン", new_customer_session_path, :class => "link" %>
            </h3>
          <% end %>
        </nav>
    </div>
  </div>
</header>
<body>
  <div class="container-fluid">
      <h3><%= flash[:notice] %><?</h3>
    <div id="wrapper">
      <div class = "row">
          <%= yield %>
      </div>
    </div>
  </div>
    <footer>
    <div class = "container-fluid" style = "background-color: salmon; text-align: right; color: white; height: 80px; font-size: 30px; line-height: 70px;">
    訪問して下さりありがとうございます!!
    </div>
    </footer>
</body>
</html>