<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ながのCAKE ジャンル編集</title>
    </head>

    <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
    <% end %>

    <h2 class="categorytitle">ジャンル編集画面</h2>
    <%= form_for (@category), url:admin_category_path do |f| %>
    <div class="col-md-7 col-md-offset-3">
        <div class="field">
            <%= f.label :ジャンル %>
            <%= f.text_field :sweets_name %>
            <label>
                <%= f.radio_button :category_status, 0 %>
                有効</label>
            <label>
                <%= f.radio_button :category_status, 1 %>
                無効</label>
            <%= f.submit '変更を保存する', class:"btn btn-primary glyphicon glyphicon-wrench
            btn-lg" %>
            <%= link_to "削除", admin_category_path(@category), method: :delete,
            "data-confirm" => "本当に削除しますか？", class:"btn glyphicon glyphicon-remove btn-lg,
            text-danger" %>
        </div>
    </div>
<% end %>