<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<h2>ジャンル編集画面</h2>
<div class="field">
    <%= form_for (@category), url:admin_category_path do |f| %>
    <%= f.label :ジャンル %>
    <%= f.text_field :sweets_name %>
    <label>
        <%= f.radio_button :category_status, 0 %>
        有効</label>
    <label>
        <%= f.radio_button :category_status, 1 %>
        無効</label>
    <%= f.submit '変更を保存する', class:"btn btn-primary glyphicon glyphicon-wrench
    btn-lg" %>
    <%= link_to "削除", admin_category_path(@category), method: :delete,
    "data-confirm" => "本当に削除しますか？", class:"btn glyphicon glyphicon-remove btn-lg,
    text-danger" %>
    <% end %>
</div>