<% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
<% end %>

<div class="col-md-10 col-md-offset-1">
    <div class="col-md-1"></div>
    <div class="col-md-1"></div>

    <h1 class="categorytitle"> ジャンル追加・一覧画面</h1>

    <div class="field">
        <%= form_for(@category, url:admin_categories_path) do |f| %>
        <%= f.label :ジャンル %>
        <%= f.text_field :sweets_name %>
        <label>
            <%= f.radio_button :category_status, 0 %>
            有効</label>
        <label>
            <%= f.radio_button :category_status, 1 %>
            無効</label>
        <%= f.submit '追加', class:"submitbtn btn btn-primary glyphicon glyphicon-wrench btn-lg" %>
    <% end %>
</div>

<table class='table'>
    <thead>
        <tr>
            <th>ジャンル</th>
            <th>状態</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @categories.each do |category| %>
            <tr>
                <td><%= category.sweets_name %>
                </td>
                <td>
                    <% if category.category_status == 0 %>
                        <p>有効</p>
                    <% else %>
                        <p>無効</p>
                    <% end %>
                </td>
                <td><%= link_to "編集する", edit_admin_category_path(category), class:"btn
                    btn-default glyphicon glyphicon-wrench" %></td>
            <% end %>
        </tr>
    </tbody>
</table>
</div>