<h2 class = "category">カテゴリー<%= @category.sweets_name %>の検索結果</h2>
<% @category_item.each do |item| %>
<div class = "col-md-3">
  <%= attachment_image_tag item, :image, size: "200x200", format: 'jpeg', class: "img", fallback: "no_image.jpg" %><br>
  <%= link_to item_path(item) do %>
  <i class = "name"><%= item.name %></i><br>
  <% end %>
  <i class = "price">¥<%= item.price %>  税抜</i>
</div>
  <% end %>