
<div class="col-md-3" >
  <table class="table">
      <h3 style = "color: maroon; text-align: center;">ジャンル検索</h3>
      <% @categories.each do |category| %>
      <tr>
         <td style = "font-size: 30px;"><%= link_to category.sweets_name,category_path(category.id),:class => "category" %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<div class = "col-md-9">
  <% @items.each do |item| %>
  <div class = "col-md-3">
    <%= link_to item_path(item) do %>
    <%= attachment_image_tag item, :image, size: "200x200", format: 'jpeg', class: "img", fallback: "no_image.jpg" %><br>
    <h4 class = "name"><%= item.name %></h4>
    <% end %>
    <h4 class = "price" >¥<%= item.price %>  税抜</h4>
  </div>
  <% end %>
</div>

