<h1>宛先編集画面</h1>
<div class = col-md-5>
    <h4>宛先情報編集</h4>
    <%= form_for (@address) do |f| %>
    <table class="table table-bordered">
      <tr>
            <th>郵便番号</th>
            <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
        </tr>
        <tr>
            <th>宛名</th>
            <td><%= f.text_field :full_name %></td>
        </tr>
    </table>
    <%= f.submit "編集内容を保存する", class:"btn btn-primary center-block",style:"margin-bottom: 10px;"%>
    <% end %>
  </div>