<%= flash[:notice] %>
<h2>購入情報確認</h2>
<div>
	<table class="table table-bordered">
		<tr align="center">
			<th width="400">商品名</th><th width="150">単価(税込)</th><th  width="150">数量</th><th  width="150">小計</th>
		</tr>
		<% @cart_items.each do |cart_item| %>
		<tr align="center">
			<td>
			<%= cart_item.item.name %>
			<%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
			</td>
			<td><%= (cart_item.item.price*1.1).round(0) %></td>
			<td><%= cart_item.count %></td>
			<td><%= (cart_item.item.price*1.1).round(0)*cart_item.count %></td>
			<% @total = @total + (cart_item.item.price*1.1).round(0)*cart_item.count %>
		</tr>
		<% end %>
	</table>
</div>

<div>
	<table class="table table-bordered">
		<tr><th>送料</th><td><%= 800 %></td></tr>
		<tr><th>商品合計</th><td><%= @total %></td></tr>
		<tr><th>請求金額</th><td><%= 800+@total %></td></tr>
	</table>
</div>

<h3>支払方法</h3>
<%= @pay_method %>

<h3>お届け先</h3>
<%= @self_address %>

<%= @registered_address %>

<%= @new_postal_code %> <%= @new_address%><br>
<%= @new_full_name %>

<div>
	<%=link_to "購入を確定する", :controller=> 'orders', :action=> 'create', class: "btn btn-primary" %>
</div>