<%= flash[:notice] %>
<h2>購入情報確認</h2>
<div class="col-md-9">
	<table class="table table-bordered">
		<tr align="center">
			<th width="400">商品名</th><th width="150">単価(税込)</th><th  width="150">数量</th><th  width="150">小計</th>
		</tr>
		<% @cart_items.each do |cart_item| %>
		<tr align="center">
			<td>
			<%= cart_item.item.name %>
			<%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
			</td>
			<td><%= (cart_item.item.price*1.1).round(0) %></td>
			<td><%= cart_item.count %></td>
			<td><%= (cart_item.item.price*1.1).round(0)*cart_item.count %></td>
			<% @total_price = @total_price + (cart_item.item.price*1.1).round(0)*cart_item.count %>
			<% @total_count = @total_count + cart_item.count %>
		</tr>
		<% end %>
	</table>
</div>

<div class=" col-md-3">
	<table class="table table-bordered">
		<tr><th>送料</th><td><%= @shipping_fee %></td></tr>
		<tr><th>商品合計</th><td><%= @total_price %></td></tr>
		<tr><th>請求金額</th><td><%= @shipping_fee + @total_price %></td></tr>
	</table>
</div>

<h3>支払方法</h3>
<%= @pay_method %>

<h3>お届け先</h3>
<%= @postal_code %> <%= @address %><br>
<%= @full_name %><br><br>
<div class="">
	<%=link_to "購入を確定する", orders_path(@order, params: { order: {pay_method: @pay_method, postal_code: @postal_code, address: @address, full_name: @full_name, item_count: @total_count, total_price: @total_price, shipping_fee: @shipping_fee, customer_id: @customer_id}}), :method => :post, :class=> "btn btn-primary" %>
</div>