<h3>ショッピングカート</h3>
<div>
	<%=link_to "カートを空にする", cart_items_path, class: "btn btn-danger", method: :delete,"data-confirm" => "Are you sure?" %>
</div>
<table class="table">
	<tr align="center">
		<th width="500" align="center">商品名</th><th width="150">単価(税込)</th><th  width="150">数量</th><th  width="150">小計</th><th  width="150"></th>
	</tr>
	<% @cart_items.each do |cart_item| %>


	<tr align="center">
		<td>
			<%= cart_item.item.name %>
			<%= attachment_image_tag cart_item.item, :image, :fill, 60, 60, class: "pull-left profile-thumb", fallback: "no_image.jpg" %>
		</td>
		<td><%= cart_item.item.price %></td>
		<td><%= cart_item.count %></td>
		<td><%= cart_item.item.price %></td>
		<td><%=link_to "削除する", cart_items_path(cart_item.item_id), class: "btn btn-danger", method: :delete,"data-confirm" => "Are you sure?" %></td>
	</tr>
	<% end %>
</table>
